

<table  border="1">
		<tr>
			<td width="200px">容器标题</td>
			<td>
			<label>标题:</label> <input type="text" id="title1" name="container_title" class="input_para" maxlength="17"  value="热门礼物推荐" />
			</td>
		</tr>
		<tr>
			<td width="200px">图片1
			<select onchange="javascript:Show('picmode1','picsrc1')" id="picmode1" >
				<option value="2" >网络图片</option>
				<option value="1" >本地图片</option>
			</select>
			</td>
			<td>
			<span id="picsrc1" ><label>网址:</label> <input type="text" name="picsrc1" class="input_para" /> </span>
			<br />
			<label>链接:</label> <input type="text" name="picurl1" value="http://www.qq.com/pic" class="input_para" />
			</td>
		</tr>
		<tr>
			<td width="200px">图片2
			<select onchange="javascript:Show('picmode2','picsrc2')" id="picmode2" >
				<option value="2" >网络图片</option>
				<option value="1" >本地图片</option>
			</select>
			</td>
			<td>
			<span id="picsrc2" ><label>网址:</label> <input type="text" name="picsrc2" class="input_para" /> </span>
			<br />
			<label>链接:</label> <input type="text" name="picurl2" value="http://www.qq.com/pic" class="input_para" />
			</td>
		</tr>
		
		<tr>
			<td width="200px">图片3
			<select onchange="javascript:Show('picmode3','picsrc3')" id="picmode3" >
				<option value="2" >网络图片</option>
				<option value="1" >本地图片</option>
			</select>
			</td>
			<td>
			<span id="picsrc3" ><label>网址:</label> <input type="text" name="picsrc3" class="input_para" /> </span>
			<br />
			<label>链接:</label> <input type="text" name="picurl3" value="http://www.qq.com/pic" class="input_para" />
			</td>
		</tr>
		<tr>
			<td width="200px">图片4
			<select onchange="javascript:Show('picmode4','picsrc4')" id="picmode4" >
				<option value="2" >网络图片</option>
				<option value="1" >本地图片</option>
			</select>
			</td>
			<td>
			<span id="picsrc4" ><label>网址:</label> <input type="text" name="picsrc4" class="input_para" /> </span>
			<br />
			<label>链接:</label> <input type="text" name="picurl4" value="http://www.qq.com/pic" class="input_para" />
			</td>
		</tr>
		<tr>
			<td width="200px">图片5
			<select onchange="javascript:Show('picmode5','picsrc5')" id="picmode5" >
				<option value="2" >网络图片</option>
				<option value="1" >本地图片</option>
			</select>
			</td>
			<td>
			<span id="picsrc5" ><label>网址:</label> <input type="text" name="picsrc5" class="input_para" /> </span>
			<br />
			<label>链接:</label> <input type="text" name="picurl5" value="http://www.qq.com/pic" class="input_para" />
			</td>
		</tr>
		<tr>
			<td width="200px">描述</td>
			<td>
				文字：<input type="text" name="summary" value=" " class="input_para" maxlength="30" size="35" />
			</td>
		</tr>
</table>	

